<a href="https://colab.research.google.com/github/naaam-h-siddhu/data-science-and-machine-learning/blob/master/Copy_of_lecture6_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#@title Defining string
s = "siddhu"
s1 = 'siddhu'
print(s,s1)

siddhu siddhu

In [14]:
#@title Concatenate string
a = "abc"
b = "def"
print(a+b)
print(a*3)

abcdef
abcabcabc

In [15]:
#@title spliting string
s = "hey how are you"
print(s.split())
#we can also split any part of string 
print(s.split("y"))

['hey', 'how', 'are', 'you']
['he', ' how are ', 'ou']

In [12]:
#@title slicing a string
s = "abcdefghi"
print(s[0:5])
print(s[:9])
print(s[:9:2])

abcde
abcdefghi
acegi

In [19]:
#@title Itereating in string
s = "12345"
for i in s:
  print(i,end=" ")
print()
for i in range(len(s)):
  print(s[i],end=' ')

1 2 3 4 5
1 2 3 4 5

In [20]:
#@title Replacing
a = "this is a string"
print(a.replace("is","are"))

thare are a string

In [22]:
#@title Find
print(a.find("ing"))
print(a.find("ign"))

13
-1

In [24]:
#@title lower
b = "SIDDHU"
print(b.lower())

siddhu

In [25]:
#@title Upper
b = "siddhu"
print(b.upper())

SIDDHU

In [26]:
#@title islower
b = "siddHu"
print(b.islower())

False

In [27]:
#@title isupper
print(b.isupper())

False

In [28]:
#@title isalpha
#return weather the string consist only alphabets
print(b.isalpha())

True

In [29]:
#@title startwith
#return weather the string starts with the given string 
print(b.startswith("si"))

True