<a href="https://colab.research.google.com/github/naaam-h-siddhu/data-science-and-machine-learning/blob/master/lec5_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title loop in string
s = "siddhu"
for i in s:
  print(i)

s
i
d
d
h
u

In [ ]:
#@title Loop in number
# Range method have three argument (start,stop, stride)
n = int(input())
for i in range(1,n+1,1):#it stops at n-1
  print(i)
# By default start = 0 and stride is 1

In [ ]:
#if one argument is given 
for i in range(n+1):
  print(i)

In [ ]:
#if we give two args by default first is takena as start and second as stop
n = 5
for i in range(1,n+1):
  print(i)

In [ ]:
#@title Reverse number print 
n = 5
for i in range(n,0,-1):
  print(i)

5
4
3
2
1

In [ ]:
#@title Multiple of 3
a = int(input())
b = int(input())
if a%3==0:
  s = a
elif a%3:
  s = a+2
else:
  s = a+1
for i in range(s,b,3):
  print(i)

In [ ]:
#@title Else while loop 
n = 5
while n>=1:
  print(n)
  n -= 1
else:
  print("n is 0 so it is npt runing")

5
4
3
2
1
n is 0 so it is npt runing

In [ ]:
#@title Else for loop
for i in range(1,5):
  if i ==3:
    break       #IF THE LOOP IS TERNIBATED BY THE BREAK CODE THEN NO ELSE WILL EXECUTE
  print(i)
else:
  print("i is 0 bro ")

In [ ]:
i = 1
while i<3:
  j= 0
  while j<5:
    j=j+1
    if j==3:
      continue
    print(j,end=" ")
  i+=1

1 2 4 5 1 2 4 5