<a href="https://colab.research.google.com/github/naaam-h-siddhu/data-science-and-machine-learning/blob/master/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title square using *
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<=n:
    print('*',end= '')
    j += 1
  print()
  i += 1

In [ ]:
#@title square using 1234
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<=n:
    print(j,end='')
    j += 1
  print()
  i += 1

In [ ]:
#@title trianglular pattern #1
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<=i:
    print(j,end='')
    j+=1
  print()
  i+=1

In [ ]:
#@title triangular pattern #2
n = int(input())
i =1
while i<=n:
  j = 1
  p = i
  while j<=i:
    print(p,end='')
    p += 1
    j += 1
  print()
  i += 1

In [ ]:
#@title triangular pattern #3
n = int(input())
i =1
p = 1
while i<=n:
  j = 1
  while j<=i:
    print(p,end='')
    p += 1
    j += 1
  print()
  i += 1

In [ ]:
#@title char pattern #1
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<=n:
    print(getchar(j),end='')
    j+=1
  print()
  i+=1

In [ ]:
#@title GET K'TH CHAR 
def getchar(k):
  x = 'A'
  y = ord(x)# this will return the ascii value of the char
  y = y + k-1
  return chr(y)
def getchari(i,k):
  x = chr(64+i)
  y = ord(x)# this will return the ascii value of the char
  y = y + k-1
  return chr(y)

In [ ]:
#@title char pattern #2
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<=n:
    print(getchari(i,j),end='')
    j+=1
  print()
  i+=1

In [ ]:
#@title inverted pattern
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<= n-i+1:
    print('*',end='')
    j+=1
  print()
  i+=1

In [ ]:
#@title isosceles pattern 
n = int(input())
i = 1
while i<=n:
  space = 1
  while space<=n-i:
    print(' ',end='')
    space+=1
  j = 1
  while j<=i:
    print(j,end='')
    j+=1
  p = i-1
  while p>=1:
    print(p,end='')
    p-=1
  print()
  i+=1

In [ ]:
n = int(input())
i = 1
while i<=n:
  k = i
  space = 1
  while space<=n-i:
    print(' ',end='')
    space+=1
  j = 1
  while j<=i:
    print(k,end='')
    j+=1
    k+=1
  p = 2*(i-1)
  cnt = 1
  while cnt<i:
    print(p,end='')
    p-=1
    cnt +=1
  print()
  i+=1