In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("resource/startup_funding.csv")
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [11]:
a = df['AmountInUSD']
a.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [12]:
a.dropna(inplace = True)

In [13]:
a.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [15]:
a = a.str.replace(',','')
a.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [17]:
a = pd.to_numeric(a)
type(a[0])

numpy.int64

In [20]:
pop_min = a.min()
pop_max = a.max()
pop_avg  = a.mean()
print(pop_avg)
print(pop_max)
print(pop_min)

12031073.099016393
1400000000
16000

In [23]:
population = a
sample_size = 100
sample = population.sample(sample_size,random_state=1)
len(sample)

100

In [25]:
sample_avg = sample.mean()
sample_min = sample.min()
sample_max = sample.max()
print(pop_avg," ",sample_avg)
print(pop_max," ",sample_max)
print(pop_min," ",sample_min)

12031073.099016393   24592930.0
1400000000   1400000000
16000   18000

In [4]:
df = pd.read_csv('resource/startup_funding.csv')
df.replace(['Delhi', 'bangalore'],['New Delhi', 'Bangalore'])
a = df[(df.CityLocation == 'New Delhi') | (df.CityLocation == 'Bangalore')]['AmountInUSD']

In [5]:
a.dropna(inplace = True)

/var/folders/g0/4tjttlg17jn_d7b0wkct3ld00000gn/T/ipykernel_41277/849364731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.dropna(inplace = True)

In [9]:
a = a.str.replace(',','')
a = pd.to_numeric(a)

AttributeError: Can only use .str accessor with string values!

In [12]:
pop_avg = a.mean()
pop_avg

18045415.896272287

In [18]:
sample_size = 50
sample = a.sample(sample_size,random_state=1)
sample_avg= sample.mean()

In [19]:
Sampling_error = pop_avg-sample_avg
print("Sampling error is ", Sampling_error)

Sampling error is  12625975.896272287

In [20]:
sample_size2 = 75
sample2 = a.sample(sample_size,random_state=1,replace= True)
sample_avg2= sample2.mean()

In [21]:
Sampling_error2 = pop_avg-sample_avg2
print("Sampling error is ", Sampling_error2)

Sampling error is  8580205.896272287